.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

.font-weight {
  font-weight: bold;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

// padding

.p-1 {
  padding: 1rem;
}

// margin

.m-b-1 {
  margin-bottom: 1rem;
}

// btn

.btn {
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid transparent;
  background-color: #19b5fe;
  &:hover {
    background-color: #36bfff;
  }
}

// link

.link {
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  &:hover {
    background-color: #f1f1f1;
  }
}

// flex

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-grow-50 {
  flex: 1 0 auto;
  max-width: 50%;
}

// bg-cover
.bg-cover {
  background-position: center center;
  background-size: cover;
}

.word-wrap {
  word-wrap: break-word;
}

// border

.border {
  border-radius: 5px;
  border: 1px solid #dcdcdc;
}
